<!DOCTYPE html>
<html ng-app>
<form role="form">
  <h1>Contact</h1>
  <h4>CALL WEBSERVICE JSON DATA EXAMPLE</h4>
  <hr>
  <div ng-controller="ContactCtrl">
    <div class="col-lg">The ID is {{greatting.name}}</div>
    <div class="col-lg">The content is {{greatting.salutation}}</div>
    <br>
    <div class="form-group">
      <input type="button" class="btn btn-primary" ng-click="callRestExample()" value="Click">
      <input type="button" class="btn btn-primary" ng-click="callRestFactory()" value="Call Factory">
    </div>
  </div>
</form>
</body>
</html>

