<div ng-controller="GridCtrl" class="demo-reponsiveTable clearfix">
  <h1>TEST GRID</h1>
  <table ng-table="tableParams" class="table table-bordered table-striped">
    <tr ng-repeat="user in $data">
      <td title="'Full Name'" title-alt="'Name'" sortable="'name'" filter="name">
        {{user.name}}
      </td>
      <td title="'Age'" sortable="'age'" filter="age">
        {{user.age}}
      </td>
    </tr>
  </table>

  <table ng-table="tableParams2" class="table table-condensed table-bordered table-striped">
    <tr ng-repeat="row in $data">
      <td data-title="'Name'" filter="{name: 'text'}">{{row.name}}</td>
      <td data-title="'Age'" filter="{age: 'number'}">{{row.age}}</td>
    </tr>
  </table>
</div>
