<style>
  body {
    padding: 10px !important;
  }

  .loading-container {
    position: relative;
  }

  .loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
  }

  .loading-container .loading:before {
    background-color: white;
    opacity: 0.5;
  }
</style>

<div ng-controller="ServersidegridCtrl" class="row">

  <h4>ngTable Grid server-side example</h4>
  <h3>use lazy load</h3>

  <div class="input-group">
    <span>
      <input type="button" ng-click="clickGridData()" class="btn btn-primary" value="Load Data">
    </span>
    <span>
      <input type="button" ng-click="clickClearData()" class="btn btn-primary" value="Clear">
    </span>
  </div>

  <br>

  <div loading-container="tableParams.settings().$loading">
    <!-- show-filter = true 是顯示濾條件 -->
    <table ng-table="tableParams" show-filter="true" class="table">
      <tbody>
      <tr ng-repeat="hotel in $data">
        <td data-title="'No'">
          {{hotel.no}}
        </td>
        <td data-title="'Name'" filter="{ 'Name': 'text' }" sortable="'name'">
          {{hotel.name}}
        </td>
        <td data-title="'Phone'" filter="{ 'Phone': 'text' }" sortable="'tel'">
          {{hotel.tel}}
        </td>
        <td data-title="'Button_price'">
          {{hotel.button_price}}
        </td>
        <td data-title="'Higher_price'">
          {{hotel.higher_price}}
        </td>
        <td data-title="'Room'">
          {{hotel.room}}
        </td>
      </tr>
      </tbody>
    </table>
    <pre>Total DATA: {{tableParams.settings().total}}</pre>
  </div>

  <h4>ngTable server side example - get store list from som </h4>

  <div class="input-group">
    <span>
      <input type="button" ng-click="clickGridData2()" class="btn btn-primary" value="Load Data 2">
    </span>
  </div>

  <div loading-container="tableParams2.settings().$loading">
    <!-- show-filter = true 是顯示濾條件 -->
    <table ng-table="tableParams2" show-filter="false" class="table">
      <tbody>
        <tr ng-repeat="storelist in $data">
          <td data-title="'id'">
            {{storelist.storeId}}
          </td>
          <td data-title="'content'">
            {{storelist.storeName}}
          </td>
          <td data-title="'storeAddr'">
            {{storelist.storeAddr}}
          </td>
          <td data-title="'storeTel'">
            {{storelist.storeTel}}
          </td>
          <td data-title="'storeFax'">
            {{storelist.storeFax}}
          </td>
          <td data-title="'storeFax'">
            {{storelist.storeFax}}
          </td>
        </tr>
      </tbody>
    </table>
    <pre>Total DATA: {{tableParams2.settings().total}}</pre>
  </div>

</div>
