<style>
  body {
    padding: 10px !important;
  }

  .loading-container {
    position: relative;
  }

  .loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
  }

  .loading-container .loading:before {
    background-color: white;
    opacity: 0.5;
  }
</style>

<div ng-controller="ServersidegridCtrl" class="row">

  <h4>ngTable Grid server-side example</h4>

  <h3>use lazy load</h3>

  <div class="input-group">
    <span>
      <input type="button" ng-click="clickGridData()" class="btn btn-primary" value="Load Data">
    </span>
    <span>
      <input type="button" ng-click="clickClearData()" class="btn btn-primary" value="Clear">
    </span>
  </div>

  <br>

  <div loading-container="tableParams.settings().$loading">
    <!-- show-filter = true 是顯示濾條件 -->
    <table ng-table="tableParams" show-filter="true" class="table">
      <tbody>
      <tr ng-repeat="hotel in $data">
        <td data-title="'No'">
          {{hotel.no}}
        </td>
        <td data-title="'Name'" filter="{ 'Name': 'text' }" sortable="'name'">
          {{hotel.name}}
        </td>
        <td data-title="'Phone'" filter="{ 'Phone': 'text' }" sortable="'tel'">
          {{hotel.tel}}
        </td>
        <td data-title="'Button_price'">
          {{hotel.button_price}}
        </td>
        <td data-title="'Higher_price'">
          {{hotel.higher_price}}
        </td>
        <td data-title="'Room'">
          {{hotel.room}}
        </td>
      </tr>
      </tbody>
    </table>
    <pre>Total DATA: {{tableParams.settings().total}}</pre>
  </div>

  <h4>ngTable server side example - get store list from som </h4>


  <div loading-container="tableParams2.settings().$loading">

    <form novalidate ng-submit="clickGridData2()">
      <div class="bs-callout bs-callout-info col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <h4>查詢條件</h4>
            <hr/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            店別:
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="filters.serachStoreId">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5">
            <input type="submit" class="btn btn-primary" value="Load Data 2">
            <input type="button" class="btn btn-primary" ng-click="clickClearData2()" value="Reset">
          </div>
        </div>
      </div>
    </form>

    <!-- show-filter = true 是顯示濾條件 -->
    <table ng-table="tableParams2" show-filter="false" class="table">
      <tbody>
      <tr ng-repeat="storelist in $data">
        <td data-title="'店號'">
          {{storelist.storeId}}
        </td>
        <td data-title="'店名'">
          {{storelist.storeName}}
        </td>
        <td data-title="'地址'">
          {{storelist.storeAddr}}
        </td>
        <td data-title="'電話'">
          {{storelist.storeTel}}
        </td>
        <td data-title="'傳真'">
          {{storelist.storeFax}}
        </td>
        <td data-title="'狀態'">
          {{storelist.status}}
        </td>
      </tr>
      </tbody>
    </table>
    <pre>Total DATA: {{tableParams2.settings().total}}</pre>
  </div>

</div>
